.indexBodyImg {
  z-index: 1;
  color: white !important;
}

.p1 {
  font-size: 110%;
  background-color: white !important;
  z-index: -2;
}

.p2 {
  font-size: 80%;
  background-color: white !important;
}

.myStory {
  font-size: 80%;
  /* background-color: white !important; */
}

.parallax {
  /* The image used */
  background-image: url("../../images/gymphoto1.jpg");
  /* Full height */
  height: 80vh;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}


.headerCon {
  position: relative;
  left: 60px;
  top: 150px;
  z-index: 2;
}

.helloSec {
  margin-top: 100px;
}

.helloTitle {
  line-height: 30px;
  position: relative;
  top: 60px;
  right: 60px;
  z-index: 2;
}

.helloTitle h2 {
  padding: 10px;
  background-color: white;
  font-weight: bold;
}

.questionSec {
  background-color: #f2f2f2;
}

.questionsCon h4 {
  font-weight: bold;
  font-style: italic;
  color: blue;
}

.questionsCon h1 {
  font-weight: bold;
  font-style: italic;
  color: salmon;
}

.questionsCon a {
  font-weight: bold;
  color: white;
  background-color: salmon;
}

.questionsCon p {
  font-weight: bold;
}

.liveImg {
  height: 500px;
}

@media only screen and (max-width: 1200px) {
  .headerCon {
    left: 0px;
    top: 20px;
  }

  .liveImg {
    height: 700px;
  }

  .helloTitle {
    top: 10px;
    right: 40px;
    line-height: 20px;
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 600px) {
  .headerCon {
    left: 0px;
    top: -20px;
  }

  .liveImg {
    margin-top: 10px;
    height: 450px;
  }
  

  .headImg {
    position: relative;
    top: -60px;
  }

  .parallax {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

  .helloTitle {
    top: -60px;
    right: 10px;
  }
}
