.parallax2 {
  /* The image used */
  background-image: url("../../images/gymphoto2.jpg");
  /* Full height */
  height: 80vh;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}

.myStoryPhoto {
  position: relative;
  right: 300px;
  height: 1112px;
  width: 750px;
}

@media only screen and (max-width: 600px) {
  .myStoryPhoto {
    position: relative;
    right: 0px;
    height: 100%;
    width: 100%;
  }
}

@media only screen and (max-width: 1199px) {
  .myStoryPhoto {
    position: relative;
    right: 0px;
    height: 100%;
    width: 100%;
  }
}