.nowPic{
    height: 50%;
}

.contactRow{
    margin-top: 50px;
    height: 50vh;
}

.textCon{
    margin-top: 100px;
    position: relative;
    right: 180px;
}

.contactHeader{
    position: relative;
    right: 50px;
    z-index: 1;
}