.mobileBrand {
  visibility: hidden;
  margin-right: -50px
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.navbar-toggler {
  width: 20%;
}

.navbar-nav {
  font-size: 12px;
}

.bookCall {
  background-color: salmon;
  transition-duration: 0.4s;
  padding: 5px;
}

.bookCall:hover {
  background-color: cyan;
  color: white;
  padding: 5px;
  float: right;
}

.snagHomeGymCard {
  background-color: black !important;
}

.snagHomeGym {
  background-color: black !important;
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 600px) {
  .bookCall {
    width: 50%;
    margin-top: 10px;
  }

  .mobileBrand {
    visibility: visible;
  }

  .deskHome {
    visibility: hidden;
  }
}
